body{
    background-color: rgb(249, 249, 227);
}
.container-content {
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Три столбца */
    justify-items: center;
    align-items: start;
}
.content {
    border: 1.5px solid #927f38e1;
    border-radius: 8px;
    padding: 100px; 
    width: 67%;
    text-align: center; 
    background-color: #f9f9f97e; 
    transition: transform 0.5s;
    cursor: pointer;
    
}
.content-text
{
  font-family: 'book';
  color: rgb(16, 16, 16);
  font-size: 22px;
  text-align: center;
  padding: 10px;
  text-align: justify;
}
@font-face {
    font-family: 'book';
    src: url('../fonts/book5.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.content-text-top{
    font-family: 'book';
    font-size: 37px;
}
img 
{
  max-width: 100%;
  height: auto;
}
.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    transition: opacity 0.5s;
}
.slider {
    padding: 40px;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.slider-item {
    flex-shrink: 0;
    width: 100%;
}
.slider-item img {
    width: 450px;
    height: 550px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}
button {
    background-color: rgba(35, 18, 8, 0.566);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.1em;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
}
button.prev {
    left: 50px;
}
button.next {
    right: 50px;
}
button:focus {
    outline: none;
}
button.hidden {
    opacity: 0;
    pointer-events: none;
}
@media (max-width: 600px) {
    .content {
        padding: 20px;
        font-size: 16px;
    }
    .content-text-top {
        font-size: 24px;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .content {
        padding: 30px;
    }
    .content-text-top {
        font-size: 28px;
    }
}
@media (min-width: 900px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .content {
        padding: 50px;
        font-size: 18px;
    }
    .content-text-top {
        font-size: 32px;
    }
}
